$bg-color: #44EEBB;

#container {
    background-color: $bg-color;
    border: 5px solid red;
    height: 50vh;
    width: 50vw;

    h3 {
        color: white;
    }
    h3:hover {
        color: red;
    }
}